.counter {
    margin: 10px 0 10px 0;

    .inner {
        .num{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        button{
            font-size: 18px;
            margin: 0 5px;
            width: 80px;
            height: 30px;
            cursor: pointer;
            background-color: #fff;
            border-radius: 10px;
            &:hover{
                font-weight: 900;
            }
        }
    }
}