/* Home Page Container */
.homepage__container {
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  }
  
  /* ToDo App Input Box */
  .todoapp__inputbox {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .todoapp__inputbox-inp {
    font-size: 20px;
    flex: 1;
    border: none;
    border-bottom: 1px solid #f1f3f5;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
  }
  .todoapp__inputbox-inp:focus {
    outline: none;
  }
  .todoapp__inputbox-add-btn {
    border: none;
    border-radius: 0;
    background-color: #13264e;
    color: #fff;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-weight: bold;
    &:hover{
        background: #999;
    }
  }
  
  /* ToDo Item List */
  .todoapp__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .todoapp__list-tit {
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
  }
  .todoapp__list-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  
  /* ToDo Item */
  .todoapp__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 36px;
  }
  .todoapp__item:last-child {
    margin-bottom: 0;
  }
  .todoapp__item-checkbox {
    margin-right: 10px;
  }
  .todoapp__item-edit-input {
    flex: 1;
    border: none;
    border-bottom: 1px solid #f1f3f5;
    padding: 5px;
    font-size: 1em;
    box-sizing: border-box;
  }
  .todoapp__item-edit-input:focus {
    outline: none;
  }
  .todoapp__item-ctx {
    flex: 1;
  }
  .todoapp__item-ctx-checked {
    font-style: italic;
    text-decoration: line-through;
    color: #868e96;
  }
  .todoapp__item-edit-btn,
  .todoapp__item-delete-btn {
    border: none;
    border-radius: 0;
    height: 36px;
    width: 36px;
    background-color: inherit;
  }
  .todoapp__item-edit-btn:hover,
  .todoapp__item-delete-btn:hover {
    cursor: pointer;
  }
  .todoapp__item-edit-btn {
    margin-right: 3px;
  }