@mixin TitleName2_3 {
    line-height: 50px;  
    height: 50px; 
    margin: 0; background: #777; 
    color: #fff; font-size: 20px;   
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.TitleName2{
    @include TitleName2_3();
}

.TitleName3{
    @include TitleName2_3();
}